---
import { Icon } from "astro-icon/components"
import logoImage from "../../images/logo.jpg"
import { Picture } from "astro:assets"
---

<nav>
  <div class="flex items-center justify-end space-x-2 md:space-x-4">
    <Picture
      src={logoImage}
      alt="author logo"
      class="h-10 w-10 rounded-full md:h-16 md:w-16"
    />
    <a
      href="https://github.com/gentksb"
      title="github link icon"
      aria-label="GitHub"
    >
      <Icon name="mdi:github" class="h-8 w-8" />
    </a>
    <a
      href="https://twitter.com/gen_sobunya"
      title="twitter link icon"
      aria-label="Twitter"
    >
      <Icon name="mdi:twitter" class="h-8 w-8" />
    </a>
    <a
      href="https://instagram.com/gen_sobunya"
      title="instagram link icon"
      aria-label="Instagram"
    >
      <Icon name="mdi:instagram" class="h-8 w-8" />
    </a>
  </div>
</nav>
