---
import { getCollection } from "astro:content"
import BacktoHome from "../components/units/BacktoHome.astro"
import { TagBadges } from "../components/units/tagBadges"
import Layout from "../layouts/Layout.astro"
import { compareMdDateDesc } from "./index.astro"

const rawMdPages = await getCollection("portfolio", ({ data }) => {
  return data.draft !== true
})
const mdPages = rawMdPages.sort((a, b) => compareMdDateDesc(a, b))
---

<Layout title="Gen's Portfolio - History">
  <div class="overflow-x-auto">
    <BacktoHome />
    <table class="table-zebra table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Tag</th>
        </tr>
      </thead>
      <tbody>
        {
          mdPages.map((pageInfo) => (
            <tr>
              <td>{pageInfo.data.date.toLocaleDateString("ja-JP")}</td>
              <>
                <th>
                  <a href={`/${pageInfo.slug}/`}>{pageInfo.data.title}</a>
                </th>
                <td>
                  <TagBadges tags={pageInfo.data.tags} />
                </td>
              </>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>
