---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
interface Frontmatter {
  title: string;
	date?: string
	tags?: string[]
	draft?: boolean
}
const mdPages = await Astro.glob<Frontmatter>('../pages/*/*.md')
const compareMdDateDesc = (a,b) => {
	const aDate = new Date(a.frontmatter.date)
	const bDate = new Date(b.frontmatter.date)
	return bDate.getTime() - aDate.getTime()
}

const achivementPages = mdPages.filter((md)=>md.frontmatter.tags?.includes('Achivements')).sort((a,b)=>compareMdDateDesc(a,b))
const doujinPages = mdPages.filter((md)=>md.frontmatter.tags?.includes('Doujin')).sort((a,b)=>compareMdDateDesc(a,b))
---

<Layout title="幻想サイクル">
		<div class="card bg-neutral-content">
			<div class="card-body">
				<div class="card-title">This is Title</div>
				<p>To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>title:{doujinPages[0].frontmatter.title}</strong> at {doujinPages[0].frontmatter.date}</p>
			</div>
		</div>
		<ul role="list" class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 sm:gap-3 pl-0">
			<Card
				href="https://blog.gensobunya.net/"
				title="幻想サイクルブログ"
				body="シクロクロスレースを中心とした自転車ブログ"
			/>
			<Card
				href="https://gensobunya-tech.hatenablog.com/"
				title="gensobunya tech blog"
				body="クラウドサービス・Javascript・ポイ活やクレジットカード・おうちハックなどのブログ"
			/>
			<Card
				href="https://amzn.to/2Ls8KPj"
				title="kindle著者ページ"
				body="発行した同人誌のKindle電子版"
			/>
			<Card
				href="https://www.melonbooks.co.jp/circle/index.php?circle_id=45540"
				title="メロンブックスサークルページ"
				body="発行した同人誌の委託通販"
			/>
			<Card
				href="https://jpcx-rank-card.vercel.app/"
				title="AJOCCランクカードジェネレーター"
				body="自分のAJOCCランキングをバッジ画像として生成するサービス"
			/>
		</ul>
</Layout>
