---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="幻想サイクル">
		<div class="card bg-base-200">
			<div class="card-body">
				<div class="card-title">This is Title</div>
				<p>To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.</p>
			</div>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://blog.gensobunya.net/"
				title="幻想サイクルブログ"
				body="シクロクロスレースを中心とした自転車ブログ"
			/>
			<Card
				href="https://gensobunya-tech.hatenablog.com/"
				title="gensobunya tech blog"
				body="クラウドサービス・Javascript・ポイ活やクレジットカード・おうちハックなどのブログ"
			/>
			<Card
				href="https://amzn.to/2Ls8KPj"
				title="kindle著者ページ"
				body="発行した同人誌のKindle電子版"
			/>
			<Card
				href="https://www.melonbooks.co.jp/circle/index.php?circle_id=45540"
				title="メロンブックスサークルページ"
				body="発行した同人誌の委託通販"
			/>
			<Card
				href="https://jpcx-rank-card.vercel.app/"
				title="AJOCCランクカードジェネレーター"
				body="自分のAJOCCランキングをバッジ画像として生成するサービス"
			/>
		</ul>
</Layout>

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
