---
import BookList from "./units/BookList.astro"
import type { CollectionEntry } from "astro:content"

export interface Props {
  newBookPages: CollectionEntry<"portfolio">[]
}

const { newBookPages } = Astro.props
---

<div>
  <h2 class="mt-8 mb-2 text-xl font-extrabold text-primary-content md:text-4xl">
    Books(side scroll to see more)
  </h2>
  <BookList newBookPages={newBookPages} />
</div>
