---
import { BookList } from "./units/BookList"
import { CollectionEntry } from "astro:content"
import { MdxSampleSlide } from "./mdx/SampleSlide"

export interface Props {
  newBookPages: CollectionEntry<"portfolio">[]
}

const { newBookPages } = Astro.props
---

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"
></script>

<div>
  <h2 class="mb-2 text-xl font-extrabold text-primary-content md:text-4xl">
    Books
  </h2>
  <BookList newBookPages={newBookPages} client:only="react" />
  <MdxSampleSlide
    sampleImageUrls={[
      "/images/c101/c101_cover.png",
      "/images/c101/c101_sample01.png",
      "/images/c101/c101_sample02.png"
    ]}
    client:only="react"
  />
</div>
