---
import Socials from "./units/Socials.astro"

const { title } = Astro.props
---

<header>
  <div class="my-0 flex flex-row items-center py-6">
    <div class="basis-1/2 text-xl md:basis-3/4 md:text-6xl">
      <h1 class="my-0 justify-center font-extrabold">
        <a href="/" class="no-underline">{title}</a>
      </h1>
    </div>
    <div class="basis-1/2">
      <Socials />
    </div>
  </div>
</header>
