---
import { HTMLRewriter } from "html-rewriter-wasm"

const insideSlotHtml = await Astro.slots.render("default")
const encoder = new TextEncoder()
const decoder = new TextDecoder()
let modifiedSlotHtmlString = ""
const rewriter = new HTMLRewriter((outputChunk) => {
  modifiedSlotHtmlString += decoder.decode(outputChunk)
})

rewriter.on("img", {
  element(element) {
    element.before('<div class="carousel-item w-4/5">', { html: true })
    element.after("</div>", { html: true })
    element.setAttribute("class", "rounded-box")
  }
})

try {
  await rewriter.write(encoder.encode(insideSlotHtml))
  await rewriter.end()
} finally {
  rewriter.free() // Remember to free memory
}
---

<div
  class="carousel carousel-center max-w-md p-4 space-x-2 bg-neutral rounded-box"
>
  <Fragment set:html={modifiedSlotHtmlString} />
</div>
