{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{- if not .Date.IsZero }}
				<time class="single_meta-date" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">Posted at {{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
        {{- end }}
        <hr>
         {{ .Content }}
        <hr>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_36 a2a_default_style">
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_google_plus"></a>
          <a class="a2a_button_line"></a>
          <a class="a2a_button_email"></a>
          <a class="a2a_button_copy_link"></a>
        </div>
        <script>
        var a2a_config = a2a_config || {};
        a2a_config.templates = a2a_config.templates || {};
        a2a_config.templates.twitter = "${title} | 幻想サイクル ${link}";
        a2a_config.locale = "ja";
        </script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
