---
import Header from "../components/Header.astro"
import { daisyTheme } from "../theme"
import { SEO } from "astro-seo"
export interface Props {
  title: string
  description?: string
  og_image?: string
}

const { title, description, og_image } = Astro.props
const isTopPage = Astro.url.pathname === "/"
---

<!DOCTYPE html>
<html lang="ja" data-theme={daisyTheme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <SEO
      title="Gen's Portfolio(幻想サイクルサークル公式WEB)"
      description={description ??
        "ゲン(@gen_sobunya, gentksb, gensobunya)のポートフォリオサイト兼、同人サークル「幻想サイクル」の公式WEBサイト"}
      openGraph={{
        basic: {
          title: title,
          type: isTopPage ? "website" : "article",
          image: og_image ?? "/images/logo.jpg"
        },
        image: {
          alt: "gen_sobunya icon"
        }
      }}
      twitter={{
        card: isTopPage ? "summary" : "summary_large_image",
        site: "@gen_sobunya",
        title: title,
        image: og_image ?? "/images/logo.jpg",
        imageAlt: "article cover image",
        description:
          description ??
          "ゲン(@gen_sobunya, gentksb, gensobunya)のポートフォリオサイト兼、同人サークル「幻想サイクル」の公式WEBサイト"
      }}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="h-full min-h-screen w-full bg-base-300">
        <div class="max-lg container mx-auto">
          <Header title="Gen's Portfolio" />
          <div class="divider my-2"></div>
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
